@import '_global';
@media screen and (max-width: 420px) {
    footer {
        .container {
            .footer-container {
                background-color: $color5;
                padding: 1rem 0;
                width: 100%;
                .footer-title-container {
                    
                    width: 80%;
                    margin: 2rem auto;
                    text-align: center;
                    .footer-title {
                        color: $color1;
                        font-size: 1.5rem;
                        padding-bottom: 2rem;
                    }
                    hr {
                        border: none;
                        border-top: 1px solid $color1;
                        
                    }
                }
                .grid-footer {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: space-between;
                    width: 80%;
                    margin: 0 auto;
        
                    .footer-nav-menu {

                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                        .footer-nav-title {
                            color: $color1;
                        }
                        ul.footer-nav {
                            padding: 1rem 0;
                            li {

                                padding: 0.7rem 0.5rem;

                                a {
                                    font-size: 0.8rem;
                                }
                            }
        
                        } 
                    }
        
                    .footer-copyright {

                        width: 100%;
                        // margin: 0.5rem auto;
                        padding: 1rem 0;
                        text-align: center;
                        p {
                            padding: 1rem 0;
                            color: $color1;
                        }

                        .footer-others {
                            width: 50%;
                            margin: 0 auto;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            // padding: 0.5rem 1rem;

                            .socialmedia-container {
                                // padding: 0 1rem;
                                text-align: center;
                                // margin: 0 1rem;
                                i {
                                    color: $color1;
                                    font-size: 1.1rem;
                                }
    
                                i:hover {
                                    color: $color2;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }
}

@media (min-width: 421px) and (max-width: 999px) {
    footer {
        .container {
            .footer-container {
                background-color: $color5;
                padding: 1rem 0;
                width: 100%;
                .footer-title-container {
                    
                    width: 80%;
                    margin: 2rem auto;
                    text-align: center;
                    .footer-title {
                        color: $color1;
                        font-size: 1.5rem;
                        padding-bottom: 2rem;
                    }
                    hr {
                        border: none;
                        border-top: 1px solid $color1;
                        
                    }
                }
                .grid-footer {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: space-between;
                    width: 80%;
                    margin: 0 auto;
        
                    .footer-nav-menu {

                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                        .footer-nav-title {
                            color: $color1;
                        }
                        ul.footer-nav {
                            padding: 1rem 0;
                            li {

                                padding: 0.7rem 0.5rem;

                                a {
                                    font-size: 0.8rem;
                                }
                            }
        
                        } 
                    }
        
                    .footer-copyright {

                        width: 70%;
                        margin: 0.5rem auto;
                        padding: 1rem 0;
                        text-align: center;
                        p {
                            padding: 1rem 0;
                            color: $color1;
                        }

                        .footer-others {
                            
                            width: 50%;
                            margin: 0 auto;
                            padding: 0 2rem;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            
                            .socialmedia-container {
                                text-align: center;
                                i {
                                    color: $color1;
                                    font-size: 1.1rem;
                                }
    
                                i:hover {
                                    color: $color2;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1360px) {
    footer {
        .container {
            .footer-container {
                background-color: $color5;
                padding: 1rem 0;
                width: 100%;
                
                .footer-title-container {  
                    
                    width: 80%;
                    margin: 2rem auto;
                    text-align: center;

                    .footer-title {
                        color: $color1;
                        padding-bottom: 2rem;
                    }
                    hr {
                        border: none;
                        border-top: 1px solid $color1;
                        
                    }
                }


                .grid-footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    
                    width: 80%;
                    margin: 0 auto;
        
                    .footer-nav-menu {
                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                        h3 {
                            color: $color1;
                        }
                        ul.footer-nav {
                            padding: 1rem 0;
                            li {

                                padding: 0.7rem 0;

                                a {
                                    font-size: 1rem;
                                }
                            }
        
                        } 
                    }
        
                    .footer-copyright {

                        width: 100%;
                        // margin: 0.5rem auto;
                        padding: 1rem 0;
                        text-align: center;
                        p {
                            padding: 1rem 0;
                            color: $color1;
                        }

                        .footer-others {
                            // background-color: orange;
                            width: 50%;
                            margin: 0 auto;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            
                            padding: 1rem;
                            .socialmedia-container {
                                text-align: center;
                                i {
                                    color: $color4;
                                    font-size: 1.7rem;
                                }
    
                                i:hover {
                                    color: $color1;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }
}

@media screen and (min-width: 1361px) {
    footer {
        .container {
            .footer-container {
                background-color: $color5;
                padding: 1rem 0;
                width: 100%;
                
                .footer-title-container {  
                    
                    width: 80%;
                    margin: 2rem auto;
                    text-align: center;

                    .footer-title {
                        color: $color1;
                        padding-bottom: 2rem;
                    }
                    hr {
                        border: none;
                        border-top: 1px solid $color1;
                        
                    }
                }


                .grid-footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    
                    width: 80%;
                    margin: 0 auto;
        
                    .footer-nav-menu {
                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                        h3 {
                            color: $color1;
                        }
                        ul.footer-nav {
                            padding: 1rem 0;
                            li {

                                padding: 0.7rem 0;

                                a {
                                    font-size: 1rem;
                                }
                            }
        
                        } 
                    }
        
                    .footer-copyright {

                        width: 100%;
                        // margin: 0.5rem auto;
                        padding: 1rem 0;
                        text-align: center;
                        p {
                            padding: 1rem 0;
                            color: $color1;
                        }

                        .footer-others {
                            // background-color: orange;
                            width: 50%;
                            margin: 0 auto;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            
                            padding: 1rem;
                            .socialmedia-container {
                                text-align: center;
                                i {
                                    color: $color4;
                                    font-size: 1.7rem;
                                }
    
                                i:hover {
                                    color: $color1;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }
}