@import '_global';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: montserrat;
    src: ('./assets/Montserrat-Black.ttf');
}

body {
    font-family: 'montserrat', $fontStyle_1, $fontStyle_2;
}

.container-fluid {
    width: 100%;
}

@import '_header';

@import '_sections';

@import '_footer';