<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/b8958b4245.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="#">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>John Aguilar</title>
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="container">
                <div class="header-bg">

                    <div id="header" class="grid-header">

                        <h1><a id="john" class="title" href="/">John</a></h1>
                        <!-- hb-menu for small, medium or tablet landscape -->
                        <div onclick="slideNav()" class="hb-menu">
                            <div class="bar-line"></div>
                            <div class="bar-line"></div>
                            <div class="bar-line"></div>
                        </div>

                        <div id="nav-menu" class="nav-menu">

                            <ul class="nav-items">
                                <li><a href="/">Home</a></li>
                                <li><a href="#section-portfolio">Portfolio</a></li>
                                <li><a href="#section-about-me">About me</a></li>
                                <li><a href="#section-contact">Message me</a></li>
                            </ul>

                        </div>

                    </div>

                    <!-- for small devices, medium or landscapes tablets -->
                    <div class="undraw-img-sm">
                        <div class="banner-headline">
                            <h3>Test.</h3>
                            <h3>Code.</h3>
                            <h3>Repeat.</h3>
                        </div>
                        <img class="img-banner" src="/images/undraw_code_thinking_1jeh.svg"
                            alt="thiniking_code_images_from_undraw">
                    </div>

                    <div class="viewsm-portfolio-container">
                        <div class="viewsm-portfolio">
                            <a class="linksm-portfolio" href="#section-portfolio">View Portfolio</a>
                        </div>
                    </div>

                    <div class="undraw-img">
                        <div class="undraw-img-div">
                            <h1>Code.</h1>
                            <h1>Test.</h1>
                            <h1>Repeat.</h1>
                        </div>

                        <div class="undraw-img-div">
                            <img class="undraw-img-src" src="/images/undraw_working_from_anywhere_ub67.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="section-headline">
            <div class="container">
                <div class="section-container">
                    <hr>

                    <h1 class="tagline">Software Testing.</h1>
                    <div class="p-tagline-container">
                        <p class="p-headline">
                            Bugs, defects, or issue on every software products are inevitable, 100% bug free or flawless
                            products are just myth. But we can diminish those bugs as early as possible on development.
                            Let me ensure you that I'll find all possible bugs first on your application before your
                            visitor does.
                            Defects, bugs or issues are always well-organize & documented.
                        </p>

                        <p class="p-headline">
                            Capable to automate my testing process for big and complex web application for
                            faster feedback.
                        </p>
                    </div>

                    <h1 class="tagline">Web Development</h1>

                    <div class="p-tagline-container">
                        <p class="p-headline">
                            Web development is a great career option for me being a techy guy (sounds like nerd. LOL),
                            converting your ideas to reality. Allowing me to create simple but elegant look user
                            interface with mobile-first approach for better and seamless user experience.
                        </p>
                    </div>


                </div>
            </div>
        </section>

        <section id="section-portfolio">
            <div class="container">
                <div class="section-container">
                    <hr class="horizontal-div">
                    <h2 class="tagline">Portfolio</h2>
                    <div class="portfolio-container">

                        <div id="web-development" class="gallery-wrapper">

                            <div class="caption-title">
                                <h3>Web Development</h3>
                            </div>

                            <div class="gallery-image">
                                <img class="image-asset" src="/images/undraw_Devices_e67q.svg" alt="iphone-8plus">
                                <!-- <img class="image-asset-md" src="/images/ipad2020-12.svg" alt="ipad-2020-12">
                                <img class="image-asset-lg" src="/images/imac27-2020.svg" alt="imac27-2020"> -->
                            </div>

                            <div class="gallery-projects">
                                <h3>References</h3>
                                <div class="projects">
                                    <ul>
                                        <li><a href="https://8plvl.csb.app/">Keeper App</a></li>
                                        <li><a href="https://whispering-falls-98650.herokuapp.com/">Todo List</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="web-development" class="gallery-wrapper">

                            <div class="caption-title">
                                <h3>Software Testing</h3>
                            </div>

                            <div class="gallery-image">
                                <img class="image-asset" src="/images/undraw_bug_fixing_oc7a.svg" alt="iphone-8plus">
                                <!-- <img class="image-asset-md" src="/images/testing-bugs-vector-lg.svg" alt="ipad-2020-12">
                                <img class="image-asset-lg" src="/images/testing-bugs-vector-lg.svg" alt="imac27-2020"> -->
                            </div>

                            <div class="gallery-projects">
                                <h3>References</h3>
                                <div class="projects">
                                    <ul>
                                        <li><a href="https://github.com/jemaguilar15/Software-Testing.git">Testing
                                                documents</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div id="web-development" class="gallery-wrapper">

                            <div class="caption-title">
                                <h3>Graphic Design</h3>
                            </div>

                            <div class="gallery-image">
                                <img class="image-asset" src="/images/undraw_Logo_design_re_gfu6.svg"
                                    alt="iphone-8plus">

                            </div>

                            <div class="gallery-projects">
                                <h3>References</h3>
                                <div class="projects">
                                    <ul>
                                        <li><a href="https://github.com/jemaguilar15/Graphic-Design.git">Adobe suites
                                                portfolios</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="section-certificates">
            <div class="container">
                <div class="section-container">
                    <hr class="horizontal-div">
                    <h2 class="tagline">Certificate</h2>

                    <div class="p-tagline-container">

                        <div class="certificate-container">
                            <h3 class="certificate-title">The 2020 Web Developement Bootcamp</h3>
                            <p class="p-tagline">
                                Certificate given by <a class="url-site" href="https://www.udemy.com/">Udemy</a>
                                after I
                                completed the 54-hours web
                                developement online
                                bootcamp training. Included modules are Frontend development, Backend
                                development, Database, Application Program Interface (API), Security, React and etc.
                                <span class="view"><a
                                        href="/certificates/Udemy-Certification Web Development 2020.pdf">View
                                        Certificate</a></span>
                            </p>
                        </div>


                        <div class="certificate-container">
                            <h3 class="certificate-title">Scrum Foundation Professional Certificate (SFPC)</h3>
                            <p class="p-tagline">
                                Certificate given by <a class="url-site" href="https://certiprof.com/">Certiprof</a>
                                after I
                                passed the SFPC Exam. Objectives of this certification is to have aspirants
                                scrum
                                masters, product owners, or anyone who want to implement an Agile to improve
                                there
                                traditional project management, particularly using Scrum, Scrum practices, Scrum
                                process, concepts, and many more.
                                <span class="view"><a href="/certificates/Certificate.pdf">View
                                        Certificate</a></span>
                            </p>

                            <!-- Add later view certificate images -->
                        </div>


                        <div class="certificate-container">
                            <h3 class="certificate-title">Scrum Fundamentals Certfied (FCS)</h3>
                            <p class="p-tagline">
                                Certificate I've received after completing Scrum Fundamentals Certified
                                online
                                given
                                by
                                <a class="url-site" href="https://www.scrumstudy.com/">SCRUMstudy</a>.
                                Modules
                                are
                                overview and
                                fundamentals of Scrum framework, Scrum vs.
                                Traditional project management, and etc.
                                <span class="view"><a
                                        href="/certificates/course-certificates-SCRUMstudy_John Emmanuel Aguilar.pdf">View
                                        Certificate</a></span>
                            </p>

                            <!-- Add later view certificate images -->
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="section-about-me">
            <div class="container">
                <div class="section-container">
                    <hr class="horizontal-div">
                    <h2 class="tagline">I'm John</h2>

                    <div class="aboutme-container">
                        <div class="p-tagline-container">
                            <p class="p-headline">
                                Graduated at AMA Computer College - Cavite Campus, Philippines. I have finished
                                Bachelor's Degree in Information Technology.
                            </p>

                            <p class="p-headline">
                                I started my career as Software Tester. Technically, our role was to find all possible
                                defects and to ensure that the software application adhere company standars, SRS and
                                corresponds to all the specifications.
                            </p>

                            <p class="p-headline">
                                Now, I explore different opportunities and learn new things in field of Information
                                Technology. I began creating and developing websites, studying other foreign language,
                                and reading books.
                            </p>

                            <p class="p-headline">
                                Do you want to work with me? Feel free to email me and download my <span
                                    class="resume-link"><a href="/assets/JohnEmmanuelAguilar_Resume.docx"
                                        download>resume.</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-contact">
            <div class="container">
                <div class="section-container">
                    <hr class="horizontal-div">

                    <div class="form-control-container">
                        <div class="form-container">
                            <h2 class="tagline">Message me</h2>
                            <form id="contat-form" action="/" method="post">
                                <!-- <input type="text" name="senderName" id="" placeholder="Name"> -->
                                <input type="email" name="emailAddress" id="" placeholder="youremail@example.com"
                                    required>
                                <input type="text" name="emailSubject" id="" placeholder="Subject">
                                <textarea name="emailMessage" id="" cols="30" rows="10" placeholder="Message"
                                    required></textarea>
                                <button type="submit">Submit</button>
                            </form>
                        </div>

                        <div class="form-side-container">
                            <!-- <div class="side-img-wrapper">
                                qwejqwewq   
                            </div> -->
                            <img src="/images/undraw_personal_email_t7nw.svg"
                                alt="contact-me-using-your-personal-email">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-title-container">
                        <h2 class="footer-title">John E. F. Aguilar</h2>
                        <hr>

                    </div>

                    <div class="grid-footer">

                        <div class="footer-nav-menu">
                            <h3 class="footer-nav-title">Navigate</h3>
                            <ul class="footer-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="#section-portfolio">Portfolio</a></li>
                                <li><a href="#section-about-me">About me</a></li>
                                <li><a href="#section-contact">Message me</a></li>
                            </ul>
                        </div>

                        <div class="footer-copyright">

                            <div class="footer-others">

                                <div class="socialmedia-container">
                                    <a href="https://linkedin.com/in/johnemmanuel-aguilar" target="_blank"><i
                                            class="fab fa-linkedin-in"></i></a>
                                </div>

                                <div class="socialmedia-container">
                                    <a href="https://www.instagram.com/jemaguilr/" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                                <div class="socialmedia-container">
                                    <a href="https://www.facebook.com/JhmAglr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </div>

                            </div>

                            <p>&copy; John Aguilar</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script src="/js/animation.js"></script>
    <script src="#" crossorigin="anonymous" SameSite="None Secure"></script>



</body>

</html>